@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-700;
  color: white;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg-sidebar { background: #3d68ff; }
.cta-btn { color: #3d68ff; }
.upgrade-btn { background: #1947ee; }
.upgrade-btn:hover { background: #0038fd; }
.active-nav-link { background: #1947ee; }
.nav-item:hover { background: #1947ee; }
.account-link:hover { background: #3d68ff; }


.grid-layout {
  display: grid;
  grid-template-columns: 20rem calc(100% - 20rem - 2rem);
  column-gap: 2rem;
}
